/* .card {
    border-radius: 1rem;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
} */

.card-title svg,
.card-text svg {
    font-size: 1.1rem;
}

.card {
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
}